<!-- <nav id="navbarColor" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="d-inline-flex" style="width:100%;">
      <img class="logo-position" alt="Movie DB" src="https://www.themoviedb.org/assets/static_cache/23e473036b28a59bd5dcfde9c671b1c5/images/v4/logos/312x276-primary-green.png">
      <ul class="nav list-inline  d-flex align-items-center mr-auto">
        <li class="list-inline-item">
          <div class="logo-text col-">Movies </div>
        </li>
      </ul>
      <nav class="navbar navbar-expand-sm ml-auto">
        <app-search-bar></app-search-bar>
      </nav>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-md navbar-light bg-dark text-white" >
  <a class="navbar-brand" href="#">
      <img src="assets/Images/logo.png" width="50" height="40" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand text-white" id="project-title" href="#">Popular Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <app-search-bar></app-search-bar>
  </div>
</nav>
